.app {
  min-height: 100vh;
  background: rgb(95, 172, 172);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet {
  height: 300px;
  width: 300px;
  background: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
